.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  flex: 1;
  padding: 10px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.title {
  font-weight: bold;
}

.footer {
  padding: 20px;
  flex: 1;
}
